CLOUDPROJ_ENVIRONMENT=development
CLOUDPROJ_DEFAULT_LLM_PROVIDER=stub
CLOUDPROJ_DEFAULT_CLOUD_PROVIDER=docker
CLOUDPROJ_LOG_LEVEL=INFO
# Provider credentials will be added as adapters are introduced.
